In [1]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt

In [3]:
df = pd.read_csv('linear_data.csv')
df.head()

         x         y
0  0.00000  4.447692
1  0.02004  5.024612
2  0.04008  5.869593
3  0.06012  4.722490
4  0.08016  4.877101

In [7]:
df[['x']].head()

         x
0  0.00000
1  0.02004
2  0.04008
3  0.06012
4  0.08016

In [8]:
df['y']

0       4.447692
1       5.024612
2       5.869593
3       4.722490
4       4.877101
         ...
495    25.356174
496    24.417804
497    25.625916
498    24.269704
499    24.732043
Name: y, Length: 500, dtype: float64

In [ ]:
p